@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定义滚动条样式 */
/* WebKit滚动条样式 */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: #a2abb8; /* 滚动条轨道背景颜色 */
}

::-webkit-scrollbar-thumb {
  background-color: #c0c0c0; /* 滚动条滑块颜色 */
  border-radius: 6px; /* 滚动条滑块边角弧度 */
}
.scrollbar-w-2 {
  scrollbar-color: #60a5fa #fde68a;
}

.scrollbar-w-2::-moz-scrollbar {
  width: 5px;
}

.scrollbar-w-2::-moz-scrollbar-track {
  background-color: #fde68a;
}

.scrollbar-w-2::-moz-scrollbar-thumb {
  background-color: #60a5fa;
  border-radius: 6px;
  filter: invert(100%);
}
